<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img src="/img/magor-events-800-hor.png" class="nav-img-fluid" alt="{{ site.name }}">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span></span><span></span><span></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto align-items-start align-items-lg-center">
          <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/about-us" class="nav-link">What we do</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link">Contact us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
